$C1:#006ae4;
h1 {
    text-align: center;
    color: $C1;
    font-size: 5vw;
    text-shadow: 0 1px 0 black, 0 2px 2px white, 0 3px 2px black;
}

.tableau {
    margin: auto;
    background-color: $C1;
    padding-top: 2px;
    overflow: auto;
    a {
        margin-bottom: 5px;
        width: 25%;
        float: left;
        color: $C1;
        border: 1px $C1 solid;
        border-bottom: 1px black solid;
        padding: 5px;
        background: white;
        transform: scale(1.0) rotateX(0deg);
        box-shadow: inset 0 0 0 black;
        filter: drop-shadow(0px 0px 0px #000000);
        transition: all 1s;
        &:hover {
            text-decoration: none;
            color: red;
            transform: scale(0.8) rotateX(45deg);
            box-shadow: inset 0 0 5px black;
            filter: drop-shadow(0px 5px 0px #000000);
        }
        div {
            text-align: center;
            font-size: 2.4vw;
        }
    }
}

.canvimation {
    overflow: auto;
    height: 75px;
    position: absolute;
    bottom: 0;
    font-size: 3.5vw;
    text-align: center;
    width: 100%;
    background: black;
    color: white;
    text-shadow: 0 1px 0 $C1, 0 2px 2px white, 0 3px 2px $C1;
}